
 <h3>Welcome back</h3>

 <form [formGroup]="displayPatientForm">
  <div class="form-group input-group">
      <label >Insert id:</label>
      <input formControlName="id"  name="" placeholder="Id of patient" type="text" #idPatient><br><br>
  </div>

  <button type="submit" class="btn btn-primary" (click)="searchPatientData(idPatient)">Check</button>
</form>


 <div class="row">
  <div class="column">
    <h4>Personal details</h4>
    <table class="table ">

      <thead>
        <th>Id</th>
        <th>Fullname</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email Address</th>
        <th>DoctorId</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of person">

          <td>{{data.id}}</td>
          <td>{{data.fullName}}</td>
          <td>{{data.userName}}</td>
          <td>{{data.password}}</td>
          <td>{{data.email}}</td>
          <td>{{data.doctorId}}</td>

        </tr>

      </tbody>

    </table>
  </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <button *ngIf="!insertInfo" type="button" class="btn btn-primary" id="insert" (click)="insertData()">+</button>
  <button *ngIf="insertInfo" type="button" class="btn btn-primary"  id="insert" (click)="insertData()"><i class="fa fa-close"></i>Close</button>




<form [formGroup]="patientform" *ngIf="insertInfo" >

    
    
    
    <div class="form-group mr-2">
        <h3>Measurement</h3>
        <input class="form-control" type="text" id="glycoseMeasurement" formControlName="glycoseMeasurement">


    </div>

    <div class="form-group mr-2">
        <h3>CarbsMeasurement</h3>
        <input class="form-control" type="text" id="CarbsMeasurement" formControlName="carbsMeasurement">


    </div>

    <div class="form-group mr-2">
        <h3>Date</h3>
        <input class="form-control" type="text" id="date" formControlName="date">
    </div>

    <button type="button" class="btn btn-primary" (click)="submitPatientData()">Submit</button>
   

</form>


