<br> <br> <br>
<div class="form-bg">

  <div class="container">
    <div class="row justify-content-center">



      <form [formGroup]="displayDataOfPatientForm">
        <div class="header">View patient's measurements</div>
        <div class="form-group">
          <label>Insert Id of patient:&nbsp;</label>
          <input formControlName="id" name="" placeholder="Id of patient" type="text" #idPatient><br><br>
        </div>


        <div class="form-group">
          <label for="start">From:&nbsp;</label>
          <input formControlName="startDate" type="date" id="start" name="trip-start" value="" min="2000-01-01"
            max="2025-12-31" #fromDate>

          <label for="start">&nbsp;&nbsp;&nbsp;To:&nbsp;</label>
          <input formControlName="endDate" type="date" id="start" name="trip-start" value="" min="2018-01-01"
            max="2085-12-31" #toDate>
        </div>


        <button type="submit" class="btn btn-primary"
          (click)="searchPatientData(idPatient, fromDate, toDate)">Check</button>
        <br> <br>
      </form>
    </div>
  </div>
</div>

<div id="tableDiv">
  <br>
  <br>
  <h4>More details</h4>

  <table class="table table-bordered">

    <thead>
      <th>Id</th>
      <th>Type of measurement</th>
      <th>Measurement</th>
      <th>Unit of measurement</th>
      <th>Date</th>
    </thead>
    <tbody>
      <tr *ngFor="let measurement of measurements">

        <td>{{measurement.id}}</td>
        <td>{{measurement.typeOfMeasurement}}</td>
        <td>{{measurement.valueOfMeasurement}}</td>
        <td *ngIf="measurement.typeOfMeasurement == 'carbs' ">gram</td>
        <td *ngIf="measurement.typeOfMeasurement != 'carbs' ">mg/dL</td>
        <td>{{measurement.date | date:"dd/MM/yyyy"}}</td>




      </tr>

    </tbody>

  </table>
</div>


<!-- {{measurements | json}} -->






<br>
<br>
<br>
<br>
<br>