
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Glucose Measurement</th>
        <th scope="col">Carbs Measurement</th>
        <th scope="col">Consultations</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>GGGG</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>


  <button *ngIf="!insertInfo" type="button" class="btn btn-primary"  (click)="insertData()">+</button>
  <button *ngIf="insertInfo" type="button" class="btn btn-primary"  (click)="insertData()">-</button>




<form [formGroup]="doctorform" *ngIf="insertInfo" >

    
    <div class="form-group mr-2">
        <h3>Consultation</h3>
        <input class="form-control" type="text" id="date" formControlName="Consultation">
    </div>

    <button type="button" class="btn btn-primary" (click)="sumbitConsultation()">Submit</button>
   

</form>