<div class="tabset">

  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="personal" checked>
  <label for="tab1">Personal details</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="patientData">
  <label for="tab2">Patient's data</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="consultation">
  <label for="tab3">Patient's consultation</label>






<!--     1                        -->

<div class="tab-panels">
    
  <div id="personal" class="tab-panel">
    
     

  
    <h3>Personal details</h3>
    <table class="table ">

      <thead>
        <th>Id</th>
        <th>Fullname</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email Address</th>
        <th>DoctorId</th>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let data of person">

          <td>{{data.id}}</td>
          <td>{{data.fullName}}</td>
          <td>{{data.userName}}</td>
          <td>{{data.password}}</td>
          <td>{{data.email}}</td>
          

        </tr> -->

      </tbody>

    </table>
  
</div>

<!-- 2          -->

<div id="patientData" class="tab-panel" id="largeTable">
       
  
    <h3>Patient's data</h3> 
    <br>
    <div class="table " id="largeTable">
  <form [formGroup]= "displayDataOfAPatientForm">
    <div class="form-group input-group">
      
      <label>Insert Id of patient: &nbsp;</label>
      <input formControlName="id" name="" placeholder="Id of patient" type="text" #idPatient>
      <br> 
      <div class="container">
        <br><br>
        <div class="row">
          <div class="col">

    <button type="submit" class="btn btn-primary" (click)="searchMeasurementData(idPatient.value)">Check
      Measurements</button>
      </div>
      <!-- <div class="col">
      <div class="divider"></div>
      </div> -->
      <div class="col">
        <div class="divider"></div>
    <button type="submit" class="btn btn-primary" (click)="searchConsultationData(idPatient.value)">Check
      Consultations</button>
      </div>
        </div>
      </div>
      </div>
      <br>
      
  </form>
</div>
  
  

   

  <div class="row">
    <div class="column">
      <table class="table">

        <thead>
          <th>Id</th>
          <th>Type of measurement</th>
          <th>Measurement</th>
          <th>Unit of measurement</th>
          <th>Date</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let measurement of measurementsOfAPatient">

            <td>{{measurement.id}}</td>
            <td>{{measurement.typeOfMeasurement}}</td>
            <td>{{measurement.valueOfMeasurement}}</td>
            <td *ngIf="measurement.typeOfMeasurement == 'carbs' ">gram</td>
            <td *ngIf="measurement.typeOfMeasurement != 'carbs' ">mg/dL</td>
            <td>{{measurement.date | date:"dd/MM/yyyy"}}</td>
            




          </tr>

        </tbody>

      </table>
    </div>

    <div class="column">
      <table class="table">

        <thead>
          <th>Id</th>
          <th>Consultation</th>
          <th>Date</th>
          <th></th>


        </thead>
        <tbody>
          <tr *ngFor="let consults of consultationsOfAPatient">

            <td>{{consults.id}}</td>
            <td>{{consults.consult}}</td>
            <td>{{consults.date | date:"dd/MM/yyyy"}}</td>
            <td class="btn btn-primary" (click)="updateConsultation()">Modify</td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>
  </div>
<!--     3     -->
<div id="consultation" class="tab-panel">
    
     

  
   
  <h3>Patients with no consultation over the last 30 days</h3>
  <button class="btn btn-primary" (click)="seePatientsNoConsult30()">Check</button>
  <br> <br>
  <table class="table">   
      
      <thead>
        <th>Id</th>
        <th>Fullname</th>
        <th>Email</th>   
        
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients" >
        
        <td>{{patient.id}}</td>        
        <td>{{patient.fullName}}</td>
        <td>{{patient.email}}</td>
        <td><button class="btn btn-primary" (click)="createNewConsult()">Create new consultation</button></td>
        
        
        
        
        
      </tr> 
    
    </tbody>
    
    </table> 

  </div>  
</div>
</div>
