<div class="row">
  <div class="column">
    <h4>Personal details</h4>
    <table class="table ">

      <thead>
        <th>Id</th>
        <th>Fullname</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email Address</th>
        <th>DoctorId</th>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let data of person">

          <td>{{data.id}}</td>
          <td>{{data.fullName}}</td>
          <td>{{data.userName}}</td>
          <td>{{data.password}}</td>
          <td>{{data.email}}</td>
          

        </tr> -->

      </tbody>

    </table>
  </div>


  <form [formGroup]="displayDataOfAPatientForm">
    <div class="form-group input-group">
      <label>Insert id of patient:</label>
      <input formControlName="id" name="" placeholder="Id of patient" type="text" #idPatient><br><br>
    </div>

    <button type="submit" class="btn btn-primary" (click)="searchMeasurementData(idPatient.value)">Check
      Measurements</button>
    <button type="submit" class="btn btn-primary" (click)="searchConsultationData(idPatient.value)">Check
      Consultations</button>
  </form>

  <div class="row">
    <div class="column">
      <table class="table">

        <thead>
          <th>Id</th>
          <th>Type of measurements</th>
          <th>Measurement</th>
          <th>Units of measurement</th>
          <th>Date</th>
        </thead>
        <tbody>
          <tr *ngFor="let measurement of measurementsOfAPatient">

            <td>{{measurement.id}}</td>
            <td>{{measurement.typeOfMeasurement}}</td>
            <td>{{measurement.valueOfMeasurement}}</td>
            <td *ngIf="measurement.typeOfMeasurement == 'carbs' ">gram</td>
            <td *ngIf="measurement.typeOfMeasurement != 'carbs' ">mg/dL</td>
            <td>{{measurement.date | date:"dd/MM/yyyy"}}</td>




          </tr>

        </tbody>

      </table>
    </div>

    <div class="column">
      <table class="table">

        <thead>
          <th>Id</th>
          <th>Consultation</th>
          <th>Date</th>
          <th>Modify</th>


        </thead>
        <tbody>
          <tr *ngFor="let consults of consultationsOfAPatient">

            <td>{{consults.id}}</td>
            <td>{{consults.consult}}</td>
            <td>{{consults.date | date:"dd/MM/yyyy"}}</td>
            <td> <button class="btn btn-primary" (click)="updateConsultation(consults.id)"> Update </button></td>
            <td> <button class="btn btn-primary" (click)="deleteConsultation(consults.id)"> Delete </button></td>

          </tr>

        </tbody>

      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <h4>Patients with no consultation over the last 30 days</h4>
    <button class="btn btn-primary" (click)="seePatientsNoConsult30()">Check patients for the last 30 days</button>
    <table class="table">

      <thead>
        <th>Id</th>
        <th>Fullname</th>
        <th>Email</th>

      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">

          <td>{{patient.id}}</td>
          <td>{{patient.fullName}}</td>
          <td>{{patient.email}}</td>
          <td><button class="btn btn-primary" (click)="createNewConsult()">Create new consultation</button></td>





        </tr>

      </tbody>

    </table>


  </div>