.form-bg .header{
    //background: #b9f0ff;
    padding: 30px 25px;
    font-size: 30px;
    color: rgb(10, 10, 10);
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}

#tableDiv{
    margin:auto;
    max-width: 70%;
    
}

.form-bg{
    margin:auto;
    max-width: 70%;
    border-style: groove;
    border-color: lightgrey;
}