


<!-- [routerLink]="['/checkDataPatient']" -->



<!-- <button class="btn btn-primary"  [routerLink]="['/checkDataPatient']">Check A single Patient</button> -->
<h4>PATIENTS</h4>
<table class="table table-bordered">   

  <thead>
    <th>Id</th>
    <th>Patient's FullName</th>
    <th>Email Address</th>
    <th>DoctorId</th>
    <th>More Info</th>
  </thead>
  <tbody>
  <tr *ngFor="let data of patients" >

    <td>{{data.id}}</td>
    <td>{{data.fullName}}</td>
    <td>{{data.email}}</td>
    <td>{{data.doctorId}}</td>
    
    <td><button class="btn btn-primary"  [routerLink]="['/checkDataPatient']">More Patient's Info</button></td>
    
    
    
  </tr> 

</tbody>

</table>



<!-- <button class="btn btn-primary"  [routerLink]="['/checkDoctorConsultations']">Check a single Doctor</button> -->
<h4>DOCTORS</h4>
<table class="table table-bordered">   
  
  <thead>
    <th>Id</th>
    <th>Doctor's Fullname</th>
    <th>Email Adress</th>
    <th>More Info</th>
    
  </thead>
  <tbody>
  <tr *ngFor="let doctor of doctors" >

    <td>{{doctor.id}}</td>
    <td>{{doctor.fullName}}</td>
    <td>{{doctor.email}}</td>    
    <td><button (click)="checkConsultationsOfADoctor(data.id)">More Doctor's Info</button></td>
    
  </tr> 

</tbody>

</table>
















<!-- <button class="btn btn-primary" (click)="seeAllDoctors()">Doctors</button> -->















<!-- <button class="btn btn-primary" (click)="seeConsultationsOfAPatient()"> </button>   -->


