
<section id="hero" class="d-flex align-items-center">
  
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    
    <h1>Welcome to <span>Sacchon.App</span></h1>
    <h2>Diabetes Management Simplified</h2>
    <div class="d-flex">

      <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
    </div>
  </div>
  <br>
  <br>
</section>





<div class="main">
  <div class="section text-center">

    <br /><br />

  
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <h1>All the tools and support you need to balance your life.</h1>
        <br>     
        <div class="row" >
          <div class="col-md-3 col-lg-6 d-flex align-items-stretch mb-15 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Glucometer</a></h4>
              <p class="description" (click)="getToRegistration()"> 
                Manage your Diabetes levels effectively by tracking your glucose levels.
                <br> View current, detailed or average reading. </p>
            </div>
          </div>
        
        
        <div class="col-md-3 col-lg-6 d-flex align-items-stretch mb-15 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Our Doctors</a></h4>
              <p class="description">Our Diabetes Specialists provide an effective way to help manage the condition, prevent and treat complications. With a unique blend of interactive technology and human touch stay connected with our holistic diabetes care at all times.</p>
            </div>
          </div>
        </div>
        </div>

      
    </section>
 
  


</div>

    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>Find Out More About Us</h3>
          
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="../../assets/images/testing1.jpg" class="img-fluid" alt="finer-testing">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  
                  <p>Founded in 2021, Sacchon.App is a digital health company that aims to simplify life with diabetes. We give people with diabetes the tools, know-how, and confidence to ease the complexity of their daily diabetes routine.</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  
                  <p>The Sacchon.App stores all your important diabetes data from connected devices, integrations, and manual entries, in one convenient place. The Sacchon.App will be right by your side throughout your diabetes journey, helping you stay motivated and confident.</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <p>We envision a world where people with diabetes can live full and healthy lives, free from worrying about the daily grinds of their therapy. </p>
                </div>
              </li>
            </ul>
            
          </div>
        </div>

      </div>
    </section>


  
   
    <!-- ======= Testimonials Section ======= -->
    
     <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div class="section-title">
          <h2>Testimonials</h2>
          
        </div>

      </div>
     
<!-- ======= Testimonials Section ======= -->

  <div class="container" data-aos="zoom-in">

    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
          
            <h3>Saul Goodman</h3>
            
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I would like to thank Dr. House for his support and his consultations!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            
            <h3>Sara Wilsson</h3>
           
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I love this place! This application has changed my life! 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>


      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>

    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3><span>Sacchon.App</span> Leadership </h3>
          
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="../../assets/images/filiw.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="" class="fa fa-facebook"></a>
                  <a href="" class="fa fa-instagram"></a>
                  <a href="" class="fa fa-linkedin"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Garyfallia Papadopoulou</h4>
                <span>Head of Finance</span>
              </div>
            
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="../../assets/images/evaggelia.jpg" class="img-fluid" alt="">
                <div class="social">

                  <a href="" class="fa fa-facebook"></a>
                  <a href="" class="fa fa-instagram"></a>
                  <a href="" class="fa fa-linkedin"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Evaggelia Barba</h4>
                <span>Managing Director</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="../../assets/images/anastasia.jpg" class="img-fluid" alt="">
                <div class="social">

                  <a href="" class="fa fa-facebook"></a>
                  <a href="" class="fa fa-instagram"></a>
                  <a href="" class="fa fa-linkedin"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Anastasia Kyriakidou</h4>
                <span>Medical Director</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="../../assets/images/laz.jpg" class="img-fluid" alt="">
                <div class="social">

                  <a href="" class="fa fa-facebook"></a>
                  <a href="" class="fa fa-instagram"></a>
                  <a href="" class="fa fa-linkedin"></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lazaros Dellis</h4>
                <span>International Business Leader - Personal Digital Solutions</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked Questions</h3>
          
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">

              <li>
                <div class="question">What should my blood sugar be? </div>
                <div>
                  <p>
                    The American Diabetes Association recommends a blood glucose range of 80-130 before meals and less than 180 about 2 hours after a meal. This range should place your A1c under 7.
                  </p>
                </div>
              </li>
              <li>
                <div class="question"> What can I eat if I have diabetes? </div>
                <div>
                  <p>
                    You can eat just about anything you want. It is about knowing proper portion sizes and how much you are putting on your plate. A dietitian can help you learn to count carbohydrates and with meal planning that is specific for you.
                  </p>
                </div>
              </li>
              <li>
                <div class="question">What is an A1c? </div>
                <div>
                  <p>
                    A Hemoglobin A1c is a 2-3 month average of your blood sugars. This result gives you a good idea of how well your diabetes is being managed/controlled. The American Diabetes Association recommends an A1c of less than 7 to keep the risk of complications low.
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section>